{% extends "base.html" %}

{% block title %} Sridhar's diary {% endblock %}

{% block content %}
    <h1>Sridhar's diary</h1>
    
    <!-- div style="float: right;">
      <img src="http://dl.dropbox.com/u/87045/permalinks/me.jpeg"
           alt=""
           title="Photo of Sridhar Ratnakumar" />
    </div-->
    
    <p>This is the site where I publish a bunch of my writings (which
    anyone can access) among the private diary entries (which only I have access
    to). Here's the list of articles that are publicly available:</p>
    
    <table class="posts">
        <tr>
            <th class="vheader"></th>
            {% for section in sections %}
            <th>{{ section }}</th>
            {% endfor %}
        </tr>
        
        <tr>
            <th class="vheader">
                E<br>N<br>T<br>R<br>I<br>E<br>S
            </th>
            {% for sections in sections.items %}
            <td class="main">
                <ul>
                {% for page in sections.1.pages %}
                    <li><a href="/{{page.name}}">{{page.title}}</a>
                        {% if page.date_published %}
                        (<i>published on {{page.date_published}}</i>)
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </td>
            {% endfor %}
        </tr>
            
        <tr>
            <th class="vheader">
                M<br>I<br>C<br>R<br>O<br>|<br>U<br>P<br>D<br>A<br>T<br>E<br>S
            </th>
            {% for sections in sections.items %}
            <td class="main">
                {% if sections.1.embed %}
                  {{ sections.1.embed }}
                {% endif %}
            </td>
            
            {% endfor %}
        </tr>
    </table> 
    

    <p>
    For my general micro-updates, see my 
    <a href="http://www.google.com/profiles/107514687808578919461#buzz">Google
    Buzz</a> posts.
    </p>
    
    <p>
    For my professional interests, you can visit my <a href="http://twitter.com/sridhr"
    >Twitter</a> updates, <a href="http://ca.linkedin.com/in/sridr">LinkedIn</a> profile and
    open source projects at <a href="http://bitbucket.org/srid/">bitbucket</a>.
    </p>
    
    <p>If you wish to leave a comment, please send it to
    <b>srid<span>@</span>nearfar.org</b>.
    </p>
    
    <h2 id="dropweb">About this site</h2>
    
    <p>
    This site is hosted on App Engine -- the diary entries are actually
    stored in my <a href="http://www.dropbox.com/">Dropbox</a> account; so all
    I have to do to edit/post articles is edit the local files on my
    computer!
    You can access the <a href="http://bitbucket.org/srid/dropweb">project
    page</a> at bitbucket. Support for RSS feeds, category-based browsing and
    comments will be added whenever I find the need.
    </p>
    
{% endblock %}
